.root {
  display: block;
  width: 100%;
}

.wave {
  --wave-size: 22px;
  --wave-stroke: 6px;
  --wave-curvature: 1;
  --separator-height: calc(var(--wave-size) + var(--wave-stroke));
  --separator-top-bg: var(--hero-bg-edge);
  --separator-bottom-bg: var(--testimonials-bg);
  --wave-offset: calc(var(--wave-curvature) * var(--wave-size));
  --wave-radius: calc(var(--wave-size) * sqrt(var(--wave-curvature) * var(--wave-curvature) + 1) + var(--wave-stroke) / 2);
  --wave-gradient: #0000 calc(99% - var(--wave-stroke)), #000 calc(101% - var(--wave-stroke)) 99%, #0000 101%;

  color: #c43d2f;
  height: var(--separator-height);
  margin-top: -20px;
  pointer-events: none;
  overflow: hidden;
  position: relative;
  transform: scaleY(-1);
  z-index: 10;
}

.wave::before {
  content: '';
  position: absolute;
  inset: 0;
  background: currentColor;
  -webkit-mask:
    radial-gradient(var(--wave-radius) at left 50% bottom calc(-1 * var(--wave-offset)), var(--wave-gradient)) calc(50% - 2 * var(--wave-size)) calc(50% - var(--wave-size) / 2 - var(--wave-stroke) / 2) / calc(4 * var(--wave-size)) calc(var(--wave-size) + var(--wave-stroke)) repeat-x,
    radial-gradient(var(--wave-radius) at left 50% top calc(-1 * var(--wave-offset)), var(--wave-gradient)) 50% calc(50% + var(--wave-size) / 2 + var(--wave-stroke) / 2) / calc(4 * var(--wave-size)) calc(var(--wave-size) + var(--wave-stroke)) repeat-x;
  mask:
    radial-gradient(var(--wave-radius) at left 50% bottom calc(-1 * var(--wave-offset)), var(--wave-gradient)) calc(50% - 2 * var(--wave-size)) calc(50% - var(--wave-size) / 2 - var(--wave-stroke) / 2) / calc(4 * var(--wave-size)) calc(var(--wave-size) + var(--wave-stroke)) repeat-x,
    radial-gradient(var(--wave-radius) at left 50% top calc(-1 * var(--wave-offset)), var(--wave-gradient)) 50% calc(50% + var(--wave-size) / 2 + var(--wave-stroke) / 2) / calc(4 * var(--wave-size)) calc(var(--wave-size) + var(--wave-stroke)) repeat-x;
  z-index: 2;
}

.wave::after {
  content: '';
  position: absolute;
  inset: 0;
  background: var(--separator-bottom-bg);
  -webkit-mask:
    radial-gradient(var(--wave-radius) at left 50% bottom calc(-1 * var(--wave-offset)), #0000 99%, #000 101%) calc(50% - 2 * var(--wave-size)) calc(50% - var(--wave-size) / 2 - var(--wave-stroke) / 2) / calc(4 * var(--wave-size)) calc(var(--wave-size) + var(--wave-stroke)) repeat-x,
    radial-gradient(var(--wave-radius) at left 50% top calc(-1 * var(--wave-offset)), #000 99%, #0000 101%) 50% calc(50% + var(--wave-size) / 2 + var(--wave-stroke) / 2) / calc(4 * var(--wave-size)) calc(var(--wave-size) + var(--wave-stroke)) repeat-x;
  mask:
    radial-gradient(var(--wave-radius) at left 50% bottom calc(-1 * var(--wave-offset)), #0000 99%, #000 101%) calc(50% - 2 * var(--wave-size)) calc(50% - var(--wave-size) / 2 - var(--wave-stroke) / 2) / calc(4 * var(--wave-size)) calc(var(--wave-size) + var(--wave-stroke)) repeat-x,
    radial-gradient(var(--wave-radius) at left 50% top calc(-1 * var(--wave-offset)), #000 99%, #0000 101%) 50% calc(50% + var(--wave-size) / 2 + var(--wave-stroke) / 2) / calc(4 * var(--wave-size)) calc(var(--wave-size) + var(--wave-stroke)) repeat-x;
  z-index: 1;
}

@supports not (mask: radial-gradient(10px at center, #000 98%, #0000 101%)) {
  .wave::before {
    background-image: url('../../assets/images/squiggly.svg');
    background-repeat: repeat-x;
    background-size: auto 100%;
    background-color: transparent;
    -webkit-mask: none;
    mask: none;
  }

  .wave {
    --separator-height: 20px;
    height: var(--separator-height);
  }
}
