.root {
  position: relative;
}

.frame {
  position: relative;
  padding: 0 28px;

  @media (min-width: 1024px) {
    padding: 0 52px;
  }
}

.arrowButton {
  position: absolute;
  top: 50%;
  z-index: 10;
  display: flex;
  width: 24px;
  height: 24px;
  align-items: center;
  justify-content: center;
  border-radius: 9999px;
  background-color: rgb(170 166 166);
  color: #fff;
  transform: translateY(-50%);
  cursor: pointer;

  @media (min-width: 1024px) {
    width: 48px;
    height: 48px;
  }
}

.previousArrow {
  left: 0;
  transform: translate(-25%, -50%);

  @media (min-width: 1024px) {
    transform: translate(-50%, -50%);
  }
}

.nextArrow {
  right: 0;
  transform: translate(25%, -50%);

  @media (min-width: 1024px) {
    transform: translate(50%, -50%);
  }
}

.arrowIcon {
  width: 32px;
}

.viewport {
  overflow: hidden;
  user-select: none;
}

.carousel-track {
  display: flex;
}

.carousel-slide {
  min-width: 0;
  flex: 0 0 100%;
  margin-right: 32px;

  @media (min-width: 1024px) {
    flex: 0 0 calc((100% - 88px) / 3);
    margin-right: 44px;
  }
}
