.banner {
  color: #263244;
  background-color: #e9e1db;
}

.inner {
  padding: 32px 24px;
  text-align: center;

  & p {
    margin: 0;
    font-family: "Archivo Condensed", sans-serif;
    font-size: 40px;
    font-weight: 600;
    line-height: 1.1;
  }

  @media (max-width: 1023px) {
    padding: 16px 8px;

    & p {
      font-size: 16px;
    }
  }
}
