@import "tailwindcss" source("./");

@theme {
  --color-brand-orange: #bd760c;
  --color-brand-blue: #b6cce4;
  --color-brand-cream-light: #fffaf3;
  --color-brand-cream-dark: #ffeed4;
  --color-text-dark: #3a3a3a;
  --color-text-green: #032b21;

  --font-archivo: "Archivo", sans-serif;
  --font-archivo-condensed: "Archivo Condensed", sans-serif;
  --font-archivo-semi-expanded: "Archivo SemiExpanded", sans-serif;
  --font-work-sans: "Work Sans", sans-serif;
}

.house-dot-i {
  position: relative;
  display: inline-block;
}
.house-dot-i::before {
  content: '';
  position: absolute;
  top: 0;
  left: 50.36%;
  transform: translateX(-50%);
  width: 0.2em;
  height: 0.2em;
  background-image: url('https://emilybrealty.com/files/2026/03/house-icon.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
@media (min-width: 1024px) {
  .house-dot-i::before {
    top: -0.1rem;
  }
}
main#emily-realestate {
  font-size: 16px !important;
}
